In [2]:
!pip install ydata-profiling openpyxl ipywidgets
import pandas as pd
from ydata_profiling import ProfileReport
import warnings
import json
warnings.filterwarnings('ignore')

Requirement already satisfied: ydata-profiling in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (4.1.2)
Requirement already satisfied: openpyxl in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (3.1.2)
Requirement already satisfied: ipywidgets in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (8.0.6)
Requirement already satisfied: scipy<1.10,>=1.4.1 in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from ydata-profiling) (1.9.3)
Requirement already satisfied: pandas!=1.4.0,<1.6,>1.1 in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from ydata-profiling) (1.5.2)
Requirement already satisfied: matplotlib<3.7,>=3.2 in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from ydata-profiling) (3.6.3)
Requirement already satisfied: pydantic<1.11,>=1.8.1 in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from ydata-profiling) (1.10.7)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from ydata-profiling) (6.0)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from ydata-profiling) (3.1.2)
Requirement already satisfied: visions[type_image_path]==0.7.5 in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from ydata-profiling) (0.7.5)
Requirement already satisfied: numpy<1.24,>=1.16.0 in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from ydata-profiling) (1.23.5)
Requirement already satisfied: htmlmin==0.1.12 in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from ydata-profiling) (0.1.12)
Requirement already satisfied: phik<0.13,>=0.11.1 in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from ydata-profiling) (0.12.3)
Requirement already satisfied: requests<2.29,>=2.24.0 in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from ydata-profiling) (2.28.1)
Requirement already satisfied: tqdm<4.65,>=4.48.2 in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from ydata-profiling) (4.64.1)
Requirement already satisfied: seaborn<0.13,>=0.10.1 in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from ydata-profiling) (0.12.2)
Requirement already satisfied: multimethod<1.10,>=1.4 in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from ydata-profiling) (1.9.1)
Requirement already satisfied: statsmodels<0.14,>=0.13.2 in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from ydata-profiling) (0.13.5)
Requirement already satisfied: typeguard<2.14,>=2.13.2 in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from ydata-profiling) (2.13.3)
Requirement already satisfied: imagehash==4.3.1 in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from ydata-profiling) (4.3.1)
Requirement already satisfied: PyWavelets in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from imagehash==4.3.1->ydata-profiling) (1.4.1)
Requirement already satisfied: pillow in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from imagehash==4.3.1->ydata-profiling) (9.5.0)
Requirement already satisfied: attrs>=19.3.0 in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from visions[type_image_path]==0.7.5->ydata-profiling) (23.1.0)
Requirement already satisfied: networkx>=2.4 in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from visions[type_image_path]==0.7.5->ydata-profiling) (3.1)
Requirement already satisfied: tangled-up-in-unicode>=0.0.4 in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from visions[type_image_path]==0.7.5->ydata-profiling) (0.2.0)
Requirement already satisfied: et-xmlfile in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: ipykernel>=4.5.1 in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from ipywidgets) (6.15.0)
Requirement already satisfied: ipython>=6.1.0 in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from ipywidgets) (8.13.2)
Requirement already satisfied: traitlets>=4.3.1 in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from ipywidgets) (5.9.0)
Requirement already satisfied: widgetsnbextension~=4.0.7 in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from ipywidgets) (4.0.7)
Requirement already satisfied: jupyterlab-widgets~=3.0.7 in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from ipywidgets) (3.0.7)
Requirement already satisfied: debugpy>=1.0 in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from ipykernel>=4.5.1->ipywidgets) (1.5.1)
Requirement already satisfied: jupyter-client>=6.1.12 in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from ipykernel>=4.5.1->ipywidgets) (8.2.0)
Requirement already satisfied: matplotlib-inline>=0.1 in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from ipykernel>=4.5.1->ipywidgets) (0.1.6)
Requirement already satisfied: nest-asyncio in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from ipykernel>=4.5.1->ipywidgets) (1.5.6)
Requirement already satisfied: packaging in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from ipykernel>=4.5.1->ipywidgets) (23.1)
Requirement already satisfied: psutil in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from ipykernel>=4.5.1->ipywidgets) (5.9.0)
Requirement already satisfied: pyzmq>=17 in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from ipykernel>=4.5.1->ipywidgets) (25.0.2)
Requirement already satisfied: tornado>=6.1 in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from ipykernel>=4.5.1->ipywidgets) (6.2)
Requirement already satisfied: backcall in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets) (0.2.0)
Requirement already satisfied: decorator in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets) (0.18.2)
Requirement already satisfied: pickleshare in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets) (3.0.38)
Requirement already satisfied: pygments>=2.4.0 in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets) (2.15.1)
Requirement already satisfied: stack-data in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets) (0.6.2)
Requirement already satisfied: pexpect>4.3 in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets) (4.8.0)
Requirement already satisfied: MarkupSafe>=2.0 in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from jinja2<3.2,>=2.11.1->ydata-profiling) (2.1.2)
Requirement already satisfied: contourpy>=1.0.1 in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from matplotlib<3.7,>=3.2->ydata-profiling) (1.0.7)
Requirement already satisfied: cycler>=0.10 in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from matplotlib<3.7,>=3.2->ydata-profiling) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from matplotlib<3.7,>=3.2->ydata-profiling) (4.39.4)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from matplotlib<3.7,>=3.2->ydata-profiling) (1.4.4)
Requirement already satisfied: pyparsing>=2.2.1 in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from matplotlib<3.7,>=3.2->ydata-profiling) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from matplotlib<3.7,>=3.2->ydata-profiling) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from pandas!=1.4.0,<1.6,>1.1->ydata-profiling) (2023.3)
Requirement already satisfied: joblib>=0.14.1 in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from phik<0.13,>=0.11.1->ydata-profiling) (1.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from pydantic<1.11,>=1.8.1->ydata-profiling) (4.5.0)
Requirement already satisfied: charset-normalizer<3,>=2 in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from requests<2.29,>=2.24.0->ydata-profiling) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from requests<2.29,>=2.24.0->ydata-profiling) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from requests<2.29,>=2.24.0->ydata-profiling) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from requests<2.29,>=2.24.0->ydata-profiling) (2023.5.7)
Requirement already satisfied: patsy>=0.5.2 in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from statsmodels<0.14,>=0.13.2->ydata-profiling) (0.5.3)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from jedi>=0.16->ipython>=6.1.0->ipywidgets) (0.8.3)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from jupyter-client>=6.1.12->ipykernel>=4.5.1->ipywidgets) (5.3.0)
Requirement already satisfied: six in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from patsy>=0.5.2->statsmodels<0.14,>=0.13.2->ydata-profiling) (1.16.0)
Requirement already satisfied: ptyprocess>=0.5 in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from pexpect>4.3->ipython>=6.1.0->ipywidgets) (0.7.0)
Requirement already satisfied: wcwidth in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30->ipython>=6.1.0->ipywidgets) (0.2.6)
Requirement already satisfied: executing>=1.2.0 in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from stack-data->ipython>=6.1.0->ipywidgets) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from stack-data->ipython>=6.1.0->ipywidgets) (2.2.1)
Requirement already satisfied: pure-eval in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from stack-data->ipython>=6.1.0->ipywidgets) (0.2.2)
Requirement already satisfied: platformdirs>=2.5 in /home/sud/miniconda3/envs/crafted/lib/python3.11/site-packages (from jupyter-core!=5.0.*,>=4.12->jupyter-client>=6.1.12->ipykernel>=4.5.1->ipywidgets) (3.5.1)

In [3]:
sales_folder = '../../data/sales data fresh copy/'
ajio_sales_folder = '../../data/sales data fresh copy/Ajio Sales/'

In [3]:
def format_data(df, colnames, skip_last=0):
    
    # if 'Agreed Margin %' in colnames:
    #     df['margin'] = (df['Agreed Margin %'] * df['Net sales with tax +Own fund'])
    # else:

    df = df[colnames]
    
    df['date'] = pd.to_datetime(df[colnames[0]])
    df['ean'] = df[colnames[1]]
    # todo: mrp = gross sales / no of items
    df['mrp'] = df[colnames[2]].astype('float')
    df['qty'] = df[colnames[3]]
    df['sp'] = df[colnames[4]].astype('float')
    df['margin'] = df[colnames[5]].astype('float')
    # print
    df = df[['date', 'ean','qty','mrp','sp', 'margin']]
    if skip_last:
        return df[:-skip_last]
    return df

In [4]:
default_list = ['Calendar Day', 'EAN/UPC', 'MRP', 'Sale Qty', ' Net Sales with Tax', 'Margin']

list_v2 = ['Calendar Day', 'EAN/UPC',' Gross Sales','Sale Qty',' Net Sales with Tax', 'Agreed Margin %']

list_v2_5 = ['Calendar Day', 'EAN/UPC',' Gross Sales','Sale Qty',' Net Sales with Tax', 'Agreed Margin Value']

list_v3 = ['Calendar Day', 'EAN/UPC',' MRP Value','Sale Qty',' Net Sales with Tax', 'Agreed Margin Value']

list_v4 = ['Day of Billing Date', 'EAN Code',' Gross Sales','Sale Qty',' Net Sales with Tax', 'Agreed Margin Value']

file_col_dict = {
"THE INDIAN GARAGE COMPANY (Nov'16).xlsx": {'col': default_list},
"THE INDIAN GARAGE COMPANY (Dec'16).xlsx": {'col': default_list, 'skip_last': 1},

"THE INDIAN GARAGE COMPANY (Jan'17).xlsx": {'col': default_list, 'skip_last': 1},
"THE INDIAN GARAGE COMPANY (Feb'17).xlsx": {'col': default_list, 'skip_last': 1},
"THE INDIAN GARAGE COMPANY (March'17).xlsx": {'col': default_list},
"THE INDIAN GARAGE COMPANY (April'17).xlsx": {'col': default_list, 'skip_last': 1},
"THE INDIAN GARAGE COMPANY (May'17).xlsx": {'col': default_list, 'skip_last': 0},
"THE INDIAN GARAGE COMPANY (June'17).xlsx": {'col': default_list, 'skip_last': 0},
"THE INDIAN GARAGE COMPANY (July'17).xlsx": {'col': default_list, 'skip_last': 1},


# "THE INDIAN GARAGE COMPANY (Aug'17).xlsx": {'col': list_v2, 'skip_last': 1},
# "THE INDIAN GARAGE COMPANY (Sept'17).xlsx": {'col': list_v2, 'skip_last': 1},
# "THE INDIAN GARAGE COMPANY (Oct'17).xlsx": {'col': list_v2, 'skip_last': 0},
# "THE INDIAN GARAGE COMPANY (Nov'17).xlsx": {'col': list_v2, 'skip_last': 1},
# "THE INDIAN GARAGE COMPANY (Dec'17).xlsx": {'col': list_v2, 'skip_last': 1},


# "THE INDIAN GARAGE COMPANY (Jan'18).xlsx":  {'col': list_v2, 'skip_last': 0},
# "THE INDIAN GARAGE COMPANY (Feb'18).xlsx":  {'col': list_v2, 'skip_last': 1},
# "THE INDIAN GARAGE COMPANY (March'18).xlsx":  {'col': list_v2, 'skip_last': 0},

"THE INDIAN GARAGE COMPANY (April'18).xlsx": {'col': list_v2_5, 'skip_last': 0},
"THE INDIAN GARAGE COMPANY (May'18).xlsx": {'col': list_v2_5, 'skip_last': 0},
"THE INDIAN GARAGE COMPANY (June'18).xlsx": {'col': list_v2_5, 'skip_last': 0},
"THE INDIAN GARAGE COMPANY (July'18).xlsx": {'col': list_v2_5, 'skip_last': 0},
"THE INDIAN GARAGE COMPANY (Aug'18).xlsx": {'col': list_v2_5, 'skip_last': 0},
"THE INDIAN GARAGE COMPANY (Sept'18).xlsx": {'col': list_v2_5, 'skip_last': 0},
"THE INDIAN GARAGE COMPANY (Oct'18).xlsx": {'col': list_v2_5, 'skip_last': 0},
"THE INDIAN GARAGE COMPANY (Nov'18).xlsx": {'col': list_v2_5, 'skip_last': 0},
"THE INDIAN GARAGE COMPANY (Dec'18).xlsx": {'col': list_v2_5, 'skip_last': 1},


"THE INDIAN GARAGE COMPANY (Jan'19).xlsx": {'col': list_v2_5, 'skip_last': 0},
"THE INDIAN GARAGE COMPANY (Feb'19).xlsx": {'col': list_v2_5, 'skip_last': 0},
"THE INDIAN GARAGE COMPANY (March'19).xlsx": {'col': list_v2_5, 'skip_last': 0},
"THE INDIAN GARAGE COMPANY (April'19).xlsx": {'col': list_v2_5, 'skip_last': 0},
"THE INDIAN GARAGE COMPANY (May'19).xlsx": {'col': list_v2_5, 'skip_last': 0},
"THE INDIAN GARAGE COMPANY (June'19).xlsx": {'col': list_v2_5, 'skip_last': 1},
"THE INDIAN GARAGE COMPANY (July'19).xlsx": {'col': list_v2_5, 'skip_last': 0},
"THE INDIAN GARAGE COMPANY (Aug'19).xlsx": {'col': list_v2_5, 'skip_last': 0},
"THE INDIAN GARAGE COMPANY (Sept'19).xlsx": {'col': list_v2_5, 'skip_last': 0},
"THE INDIAN GARAGE COMPANY (Oct'19).xlsx": {'col': list_v2_5, 'skip_last': 0},
"THE INDIAN GARAGE COMPANY (Nov'19).xlsx": {'col': list_v2_5, 'skip_last': 0},
"THE INDIAN GARAGE COMPANY (Dec'19).xlsx": {'col': list_v2_5, 'skip_last': 0},

"THE INDIAN GARAGE COMPANY (Jan'20).xlsx": {'col': list_v3, 'skip_last': 0},
"THE INDIAN GARAGE COMPANY (Feb'20).xlsx": {'col': list_v3, 'skip_last': 0},
"THE INDIAN GARAGE COMPANY (March'20).xlsx": {'col': list_v3, 'skip_last': 0},
"THE INDIAN GARAGE CO. (Apr'20&May'20).xlsx": {'col': list_v3, 'skip_last': 0, 'skiprows':1},
"THE INDIAN GARAGE CO (June'20).xlsx": {'col': list_v3, 'skip_last': 0},
"THE INDIAN GARAGE CO (July'20).xlsx": {'col': list_v3, 'skip_last': 1},
# "THE INDIAN GARAGE CO (Aug'20).xlsx": {'col': list_v3, 'skip_last': 1},
# "THE INDIAN GARAGE CO (Sept'20).xlsx": {'col': list_v3, 'skip_last': 1},
# "THE INDIAN GARAGE CO (Oct'20).xlsx": {'col': list_v3, 'skip_last': 1},
# "THE INDIAN GARAGE CO (Nov'20).xlsx": {'col': list_v3, 'skip_last': 1},
# "THE INDIAN GARAGE CO (Dec'20-Feb21.xlsx": {'col': list_v3, 'skip_last': 0},

# "THE INDIAN GARAGE CO (Mar'21 Revised).xlsx": {'col': list_v4, 'skip_last': 3,'skiprows':1},


# df14 = pd.read_excel('2021-10.xlsb', skiprows=1) 

# "Tigc Ajio Dis Workings_Apr22-Aug22.xlsx": {'col': list_v4, 'skip_last': 0, 'skiprows':1},
}

In [5]:
collective_df = pd.DataFrame()

for file in file_col_dict:
    df = pd.read_excel(ajio_sales_folder+file, sheet_name=file_col_dict[file].get('sheetname', 'Sheet1'), skiprows=file_col_dict[file].get('skiprows', 0))
    # print('>>>>', file)
    df = format_data(df, file_col_dict[file]['col'], file_col_dict[file].get('skip_last', 0))
    collective_df = pd.concat([collective_df, df])

collective_df.reset_index(inplace=True)
collective_df.drop('index', axis=1, inplace=True)
collective_df = collective_df.astype({'ean':'int'})
collective_df = collective_df.astype({'qty':'int'})
collective_df['date'] = pd.to_datetime(collective_df['date'], format='%y-%m-%d')
collective_df['date'] = collective_df['date'].dt.date

# profile = ProfileReport(collective_df, minimal=True)
# profile.to_notebook_iframe()

# pd.date_range(start = '2017-01-01', end = '2017-12-31' ).difference(df['date'].unique())

In [20]:
df = pd.read_excel(f"{ajio_sales_folder}/THE INDIAN GARAGE COMPANY (Nov'16).xlsx", 'Sheet1')
colnames = ['Calendar Day', 'EAN/UPC', 'MRP', 'Sale Qty', ' Net Sales with Tax', 'Margin']
df1 = format_data(df, colnames)

df = pd.read_excel(f"{ajio_sales_folder}/THE INDIAN GARAGE COMPANY (Dec'16).xlsx", 'Sheet1')
df2 = format_data(df, colnames)
df1 = df1[:-1]

df2 = pd.read_excel('2017-02.xlsx',sheet_name='Sheet1')
df2 = df2[:-1]

df3 = extract_df('2017-03.xlsx')
df4 = extract_df('2017-04.xlsx')
df4 = df4[:-1]
df5 = extract_df('2017-05.xlsx')
df6 = extract_df('2017-06.xlsx')
df7 = extract_df('2017-07.xlsx')
df7=df7[:-1]

df8 = pd.read_excel('2017-08.xlsx',sheet_name='Sheet1')
['Calendar Day', 'EAN/UPC','MRP/PC','Sale Qty',' Net Sales with Tax', 'Agreed Margin %', 'Net sales with tax +Own fund']
df8['Margin'] = abs(df8['Agreed Margin %'] * df8['Net sales with tax +Own fund'])
df8=df8[:-1]

df9 = pd.read_excel('2017-09.xlsx',sheet_name='Sheet1')
df9 = df9[['Calendar Day', 'EAN/UPC','MRP/PC','Sale Qty',' Net Sales with Tax', 'Agreed Margin %', 'Net sales with tax +Own fund']]
df9=df9[:-1]
df10 = extract_df_perpc('2017-10.xlsx')
df11 = extract_df_perpc('2017-11.xlsx')
df11=df11[:-1]
df12 = extract_df_perpc('2017-12.xlsx')
df12=df12[:-1]

df = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12])
profile = ProfileReport(df, title="Pandas Profiling Report")
profile.to_notebook_iframe()

df1 = extract_df_perpc('2018-01.xlsx')
df2 = extract_df_perpc('2018-02.xlsx')
df2 = df2[:-1]
df3 = extract_df_perpc('2018-03.xlsx')

df = pd.read_excel(filename,sheet_name='Sheet1')
df = df[['Calendar Day', 'EAN/UPC','MRP/PC','Sale Qty',' Net Sales with Tax/ PC', 'Agreed Margin Value']]
df4 = extract_df_nofund('2018-04.xlsx')
df5 = extract_df_nofund('2018-05.xlsx')
df6 = extract_df_nofund('2018-06.xlsx')
df7 = extract_df_nofund('2018-07.xlsx')
df8 = extract_df_nofund('2018-08.xlsx')
df9 = extract_df_nofund('2018-09.xlsx')
df10 = extract_df_nofund('2018-10.xlsx')
df11 = extract_df_nofund('2018-11.xlsx')
df12 = extract_df_nofund('2018-12.xlsx')
df12 = df12[:-1]
df1 = extract_df_nofund('2019-01.xlsx')
df2 = extract_df_nofund('2019-02.xlsx')
df3 = extract_df_nofund('2019-03.xlsx')
df4 = extract_df_nofund('2019-04.xlsx')
df5 = extract_df_nofund('2019-05.xlsx')
df6 = extract_df_nofund('2019-06.xlsx')
df6 = df6[:-1]
df7 = extract_df_nofund('2019-07.xlsx')
df8 = extract_df_nofund('2019-08.xlsx')
df9 = extract_df_nofund('2019-09.xlsx')
df10 = extract_df_nofund('2019-10.xlsx')
df11 = extract_df_nofund('2019-11.xlsx')
df12 = extract_df_nofund('2019-12.xlsx')
df1 = extract_df_nofund('2020-01.xlsx')
df2 = extract_df_nofund('2020-02.xlsx')
df3 = extract_df_nofund('2020-03.xlsx')
df4 = extract_df_nofund('2020-04.xlsx', skiprows=1)
df6 = extract_df_nofund('2020-06.xlsx')
df7 = extract_df_nofund('2020-07.xlsx')
df7 = df7[:-1]
df8 = extract_df_nofund('2020-08.xlsx',1)
df8 = df8[:-1]
df9 = extract_df_nofund('2020-09.xlsx',1)
df9 = df9[:-1]
df10 = extract_df_nofund('2020-10.xlsx',1)
df10 = df10[:-1]
df11 = extract_df_nofund('2020-11.xlsx',1)
df11 = df11[:-1]
df12 = extract_df_nofund('2020-12.xlsx',1)
df12 = df12[:-1]
df13 = extract_df_nofund('2021-03.xlsx',1)
df13 = df13[:-3]
['Day of Billing Date', 'EAN Code','MRP/PC','Sale Qty',' Net Sales with Tax/ PC', 'Agreed Margin Value']
df14 = pd.read_excel('2021-10.xlsb', skiprows=1)
df15 = pd.read_excel('2022-04.xlsx', sheet_name='Sheet1', skiprows=1)

/tmp/ipykernel_48719/2274703662.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = pd.to_datetime(df[colnames[0]], format='%Y-%m-%d')
/tmp/ipykernel_48719/2274703662.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ean'] = df[colnames[1]].astype('int')
/tmp/ipykernel_48719/2274703662.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['mrp'] = df[colnames[2]].astype('float')
/tmp/ipykernel_48719/2274703662.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['qty'] = df[colnames[3]].astype('int')
/tmp/ipykernel_48719/2274703662.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sp'] = df[colnames[4]].astype('float')
/tmp/ipykernel_48719/2274703662.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['margin'] = df[colnames[5]].astype('float')

         date            ean  qty     mrp       sp  margin
0  2016-11-01  8907499347642    1  1049.0  1049.00  367.15
1  2016-11-04  8907499347208    1  1099.0   653.65  269.15
2  2016-11-04  8907499347215    1  1099.0   769.00  269.15
3  2016-11-05  8907499346294    1  1499.0  1049.00  367.15
4  2016-11-05  8907499346492    1  1499.0  1049.00  367.15
5  2016-11-06  8907499347192    1  1099.0   769.00  269.15
6  2016-11-07  8907499346942    1  1199.0   839.00  293.65
7  2016-11-07  8907499347697    1  1099.0   615.20  269.15
8  2016-11-08  8907499347741    1  1099.0   615.20  269.15
9  2016-11-15  8907499347703    1  1099.0   769.00  269.15
10 2016-11-16  8907499347208    1  1099.0   769.00  269.15
11 2016-11-17  8907499346874    1  1249.0   655.50  305.90
12 2016-11-17  8907499347123    1  1249.0   655.50  305.90
13 2016-11-17  8907499347314    1  1099.0   769.00  269.15
14 2016-11-18  8907499346751    1  1249.0   655.50  305.90
15 2016-11-18  8907499347062    1  1249.0   655.50  305.90
16 2016-11-19  8907499347062    2  2498.0  1193.84  611.80
17 2016-11-19  8907499347765    1  1099.0   473.68  269.15
18 2016-11-21  8907499347154    1  1249.0   655.50  305.90
19 2016-11-21  8907499347550    1  1149.0   603.00  281.40
20 2016-11-22  8907499347734    1  1099.0   576.75  269.15
21 2016-11-22  8907499347789    1  1099.0   576.75  269.15
22 2016-11-22  8907499347833    1  1099.0   576.75  269.15
23 2016-11-22  8907499347888    1  1099.0   576.75  269.15
24 2016-11-24  8907499347048    2  2498.0  1748.00  611.80
25 2016-11-24  8907499347314    1  1099.0   769.00  269.15
26 2016-11-24  8907499347765    1  1099.0   653.65  269.15
27 2016-11-26  8907499347079    1  1249.0   874.00  305.90
28 2016-11-27  8907499346744    1  1249.0   874.00  305.90
29 2016-11-27  8907499347093    1  1249.0   874.00  305.90
30 2016-11-28  8907499347215   -1 -1099.0  -769.00 -269.15
31 2016-11-29  8907499346843    1  1249.0   874.00  305.90
32 2016-11-29  8907499347246    1  1099.0   769.00  269.15
33 2016-11-29  8907499347451    1  1149.0   643.20  281.40
34 2016-11-30  8907499347192    1  1099.0   769.00  269.15
35 2016-11-30  8907499347208   -1 -1099.0  -769.00 -269.15

In [6]:
# (channel, date, ean), sold qty, return qty, net qty, {mrp}, {discount}, {sp}, {marketplace margin}
condensed_data = {}

for idx, row in collective_df.iterrows():
    if condensed_data.get(f"{row.date}/{row.ean}"):
        condensed_data[f"{row.date}/{row.ean}"].append((row.qty, row.mrp, row.sp, row.margin))
        # break
    else:
        condensed_data[f"{row.date}/{row.ean}"] = [(row.qty, row.mrp, row.sp, row.margin)]
        # break

In [7]:
with open('../../data/condensed_ajio.json', 'w') as fp:
    json.dump(condensed_data, fp)

In [20]:
condensed_df = pd.DataFrame(columns=['date', 'ean', 'sold_qty', 'return_qty', 'net_qty', 'avg_mrp', 'avg_discount', 'avg_sp', 'avg_marketplace_margin'])

for k, v in condensed_data.items():
    sold_qty = 0
    return_qty = 0
    avg_mrp = 0
    avg_discount = 0
    avg_sp = 0
    avg_marketplace_margin = 0
    no_of_items = 0

    for i in v:
        no_of_items += 1
        if i[0] >= 0:
            sold_qty += abs(i[0])
        else:
            return_qty += abs(i[0])
        avg_mrp += abs(i[1])
        avg_sp += abs(i[2])
        avg_marketplace_margin += abs(i[3])

    if not avg_mrp:
        continue
    avg_mrp /= no_of_items
    avg_sp /= no_of_items
    avg_marketplace_margin /= no_of_items
    net_qty = sold_qty - return_qty   
    avg_discount = (avg_mrp - avg_sp) * 100 / avg_mrp 
    condensed_df = condensed_df.append({'date': k.split('/')[0], 'ean': k.split('/')[1], 'sold_qty': sold_qty, 'return_qty': return_qty, 'net_qty': net_qty, 'avg_mrp': avg_mrp, 'avg_discount': avg_discount, 'avg_sp': avg_sp, 'avg_marketplace_margin': avg_marketplace_margin}, ignore_index=True) # type: ignore
    # break
# condensed_df

,date,ean,sold_qty,return_qty,net_qty,avg_mrp,avg_discount,avg_sp,avg_marketplace_margin
0,2016-11-01,8907499347642,3,0,3,1049.0,0.0,1049.0,367.15

In [9]:
# condensed_df.to_csv('../../data/condensed_ajio.csv', index=False)
condensed_df = pd.read_csv('../../data/condensed_ajio.csv')

In [10]:
condensed_df
# (channel, date, ean), sold qty, return qty, net qty, {mrp}, {discount}, {sp}, {tigc margin}, {avg_cost}, {avg_profit}

,channel,date,ean,sold_qty,return_qty,net_qty,avg_mrp,avg_discount,avg_sp,tigc_margin,avg_profit,master_mrp,master_cost,product_id
0,ajio_marketplace,2016-11-01,8907499347642,1,0,1,1049.0,0.000000,1049.00,681.850,NaN,NaN,NaN,NaN
1,ajio_marketplace,2016-11-04,8907499347208,1,0,1,1099.0,40.523203,653.65,384.500,NaN,NaN,NaN,NaN
2,ajio_marketplace,2016-11-04,8907499347215,1,0,1,1099.0,30.027298,769.00,499.850,NaN,NaN,NaN,NaN
3,ajio_marketplace,2016-11-05,8907499346294,1,0,1,1499.0,30.020013,1049.00,681.850,NaN,NaN,NaN,NaN
4,ajio_marketplace,2016-11-05,8907499346492,1,0,1,1499.0,30.020013,1049.00,681.850,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96709,ajio_marketplace,2020-07-31,8907979111619,0,1,-1,1499.0,60.000000,599.60,389.740,77.740,1499.0,312.0,176b0dae-bd97-4042-b67b-07c1a750ca8e
96710,ajio_marketplace,2020-07-31,8907979111701,0,1,-1,1499.0,60.000000,599.60,389.740,16.740,1499.0,373.0,c5751fc4-8aa5-4444-8647-63d7f9a5c752
96711,ajio_marketplace,2020-07-31,8907979111749,1,0,1,1299.0,62.000000,493.62,320.853,63.853,1299.0,257.0,d4991ad6-58ef-44ea-8099-d499e04d3b3e
96712,ajio_marketplace,2020-07-31,8907979111756,1,0,1,1299.0,62.000000,493.62,320.853,63.853,1299.0,257.0,d4991ad6-58ef-44ea-8099-d499e04d3b3e
96713,ajio_marketplace,2020-07-31,8907979111763,1,0,1,1299.0,62.000000,493.62,320.853,63.853,1299.0,257.0,d4991ad6-58ef-44ea-8099-d499e04d3b3e

In [6]:
styles = pd.read_csv('../../data/styles.csv')
sizes = pd.read_csv('../../data/sizes.csv')
master = pd.merge(sizes, styles, on='product_id')

condensed_df['product_id'] = condensed_df['ean'].map(master.set_index('ean')['product_id'])
condensed_df['master_cost'] = condensed_df['ean'].map(master.set_index('ean')['cost'])
condensed_df['master_mrp'] = condensed_df['ean'].map(master.set_index('ean')['mrp'])

In [7]:
condensed_df['tigc_margin'] = condensed_df['avg_sp'] - condensed_df['avg_marketplace_margin']
condensed_df['avg_profit'] = condensed_df['tigc_margin'] - condensed_df['master_cost']
condensed_df['channel'] = 'ajio_marketplace'

In [8]:
colnames = ['channel',
'date',
'ean',
'sold_qty',
'return_qty',
'net_qty',
'avg_mrp',
'avg_discount',
'avg_sp',
'tigc_margin',
'avg_profit',
'master_mrp',
'master_cost',
'product_id',]
# condensed_df[colnames].sample(100).to_csv('../../data/condensed_ajio_sample.csv', index=False)
condensed_df[colnames].to_csv('../../data/condensed_ajio.csv', index=False)