In [1]:
import pandas as pd
import numpy as np
from ydata_profiling import ProfileReport
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
df = pd.read_excel('../../data/Last 6 months - Sales-GRn-Opening Invtry.xlsx', sheet_name='Sheet1')

In [3]:
df.drop(['Brand Name'], axis=1, inplace=True)
df.drop(['Rev Brand'], axis=1, inplace=True)
df.drop(['Category'], axis=1, inplace=True)
df.drop(['Gender'], axis=1, inplace=True)
df.drop(['Global Invtry Product'], axis=1, inplace=True)
df.drop(['Rev Product'], axis=1, inplace=True)
df.drop(['Rev Channel'], axis=1, inplace=True)
df.drop(['Rev Pattern'], axis=1, inplace=True)
df = df[df['Size']!='Navy/Blue1 Check']
df.drop(['Size'], axis=1, inplace=True)
categorical_cols = ['Type.1', 'TIGC EAN', 'Type.2', "Fit", "Chanel", 'Rev Size', 'As per Business Plan Product', 'Pattern'], 

# idk:
# Type
# Sold, Grn, Golbal Inv

# Act Month - divide into months/yr/week
# Sum of Value - total of sp

# Barcode Color?
# Style?

# Sleeves - drop

# choose:
# x Chanel, Rev Channel
# X Act Month, Month
# x Size, Rev Size
# x Tigc Option Code, Barcode Color, OptCode
# x Global Invtry Product, As per Business Plan Product, Rev Product
# x Pattern, Rev Pattern

In [32]:
profile = ProfileReport(df, minimal=True)
profile.to_file("sales-last6m-light.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [24]:
# df['Tigc Option Code'].equals(df['OptCode'])
# df[['Pattern', 'Rev Pattern']].drop_duplicates()

                       Pattern Rev Pattern
0                   Camouflage     Printed
4                        Solid       Solid
18                    Abstract     Printed
21                   Checkered      Checks
120              Multi Stripes     Printed
153              Colourblocked     Printed
196             Floral Printed     Printed
313           Vertical Stripes     Stripes
356            Graphic Printed     Printed
871                    Striped     Stripes
893                Micro Disty     Printed
1000                 Geometric     Printed
1003    Conversational Printed     Printed
1182                  Tropical     Printed
1321            Animal Printed     Printed
1371                   Paisley     Printed
1494                Typography     Printed
1715               Embroidered     Printed
1842                   Striped     Printed
1929             Abstract Camo     Printed
1979                     fauna     Printed
2032            Paint Splatter     Printed
2035                 Tie N Dye     Printed
2101              Paint Splash     Printed
2244                     Ombre     Printed
2416          Scribble Printed     Printed
2693                   Printed     Printed
2894                  Overdyed     Printed
5305           Vertical Stripe     Stripes
5307                    Stripe     Stripes
6633               Self Design     Printed
8353                     Ditsy     Printed
8519             Photo Printed     Printed
12736                 Distress     Printed
13034                  STRIPED     Stripes
26530                Side Tape     Printed
41092                 Textured     Printed
142014             Laser Print     Printed
176989            Aqua Printed     Printed
189509            Micro Prints     Printed
190750                 Robotic     Printed
191281       Animal Skin Print     Printed

In [37]:
sales = df[df['Type']=='Sale']
sales.drop(['Month'], axis=1, inplace=True)
sales.drop(['Sleeves'], axis=1, inplace=True)
sales.drop(['Tigc Option Code'], axis=1, inplace=True)
sales.drop(['OptCode'], axis=1, inplace=True)
sales.drop(['Sum of Value'], axis=1, inplace=True)
sales.drop(['Style'], axis=1, inplace=True)
sales.drop(['Grn'], axis=1, inplace=True)
sales.drop(['Global Inv'], axis=1, inplace=True)
sales["Act Month"] = pd.to_datetime(sales["Act Month"])
sales["year"] = sales["Act Month"].dt.year
sales["month"] = sales["Act Month"].dt.month
sales["week"] = sales["Act Month"].dt.isocalendar().week
sales.sort_values(by=['Act Month'], inplace=True, ascending=True)
categorical_cols = ['Type.1', 'TIGC EAN', 'Type.2', "Fit", "Chanel", 'Rev Size', 'As per Business Plan Product', 'Pattern', 'Barcode Color'],

/var/folders/gb/1cwn6rds3vv7p30s87jjmp200000gn/T/ipykernel_14115/2210615653.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales.drop(['Month'], axis=1, inplace=True)
/var/folders/gb/1cwn6rds3vv7p30s87jjmp200000gn/T/ipykernel_14115/2210615653.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales.drop(['Sleeves'], axis=1, inplace=True)
/var/folders/gb/1cwn6rds3vv7p30s87jjmp200000gn/T/ipykernel_14115/2210615653.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales.drop(['Tigc Option Code'], axis=1, inplace=True)
/var/folders/gb/1cwn6rds3vv7p30s87jjmp200000gn/T/ipykernel_14115/2210615653.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales.drop(['OptCode'], axis=1, inplace=True)
/var/folders/gb/1cwn6rds3vv7p30s87jjmp200000gn/T/ipykernel_14115/2210615653.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales.drop(['Sum of Value'], axis=1, inplace=True)
/var/folders/gb/1cwn6rds3vv7p30s87jjmp200000gn/T/ipykernel_14115/2210615653.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales.drop(['Style'], axis=1, inplace=True)
/var/folders/gb/1cwn6rds3vv7p30s87jjmp200000gn/T/ipykernel_14115/2210615653.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales.drop(['Grn'], axis=1, inplace=True)
/var/folders/gb/1cwn6rds3vv7p30s87jjmp200000gn/T/ipykernel_14115/2210615653.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales.drop(['Global Inv'], axis=1, inplace=True)
/var/folders/gb/1cwn6rds3vv7p30s87jjmp200000gn/T/ipykernel_14115/2210615653.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales["Act Month"] = pd.to_datetime(sales["Act Month"])
/var/folders/gb/1cwn6rds3vv7p30s87jjmp200000gn/T/ipykernel_14115/2210615653.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales["year"] = sales["Act Month"].dt.year
/var/folders/gb/1cwn6rds3vv7p30s87jjmp200000gn/T/ipykernel_14115/2210615653.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales["month"] = sales["Act Month"].dt.month
/var/folders/gb/1cwn6rds3vv7p30s87jjmp200000gn/T/ipykernel_14115/2210615653.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales["week"] = sales["Act Month"].dt.isocalendar().week
/var/folders/gb/1cwn6rds3vv7p30s87jjmp200000gn/T/ipykernel_14115/2210615653.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales.sort_values(by=['Act Month'], inplace=True, ascending=True)

In [38]:
sales

,Type,Act Month,Chanel,TIGC EAN,Rev Size,Barcode Color,Type.1,As per Business Plan Product,Sold,Type.2,Fit,Pattern,year,month,week
0,Sale,2022-11-01,Ajio B2B,8907955081455,36,Olive Camo,Bestseller,Cargo,10,Bottoms,Slim Fit,Camouflage,2022,11,44
17855,Sale,2022-11-01,MYNTRAV3,8907979050314,2XL,R.Blue,Bestseller,Shirt,1,Tops,Slim Fit,Checkered,2022,11,44
17854,Sale,2022-11-01,MYNTRAV3,8907979050291,L,R.Blue,Bestseller,Shirt,3,Tops,Slim Fit,Checkered,2022,11,44
17853,Sale,2022-11-01,MYNTRAV3,8907979050284,M,R.Blue,Bestseller,Shirt,3,Tops,Slim Fit,Checkered,2022,11,44
17852,Sale,2022-11-01,MYNTRAV3,8907979050277,S,R.Blue,Bestseller,Shirt,5,Tops,Slim Fit,Checkered,2022,11,44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154249,Sale,2023-04-01,Fashion Factory,8907979226917,36,Sky Blue,Bestseller,Shorts,5,Bottoms,Slim Fit,Solid,2023,4,13
154248,Sale,2023-04-01,Fashion Factory,8907979226900,34,Sky Blue,Bestseller,Shorts,13,Bottoms,Slim Fit,Solid,2023,4,13
154247,Sale,2023-04-01,Fashion Factory,8907979226894,32,Sky Blue,Bestseller,Shorts,14,Bottoms,Slim Fit,Solid,2023,4,13
154261,Sale,2023-04-01,Fashion Factory,8907979228478,36,Ss Blue,Bestseller,Jeans,1,Bottoms,Slim Fit,Solid,2023,4,13
177240,Sale,2023-04-01,SHOPIFY,8907979444892,M,Grey,Bestseller,Shirt,1,Tops,Regular Fit,Striped,2023,4,13

In [36]:
df_train = sales[sales['Act Month']<'2023-03-10']
df_test = sales[sales['Act Month']>='2023-03-10']
sales.drop(['Act Month'], axis=1, inplace=True)

col_to_predict = 'Sold'
all_cols = list(sales.columns)
all_cols.remove(col_to_predict)
x_cols = all_cols 
y_col = [col_to_predict]

X_train = df_train[x_cols]
Y_train = df_train[y_col].values
X_test = df_test[x_cols]
Y_test = df_test[y_col].values

        Sold  Grn  Global Inv
0         10    0           0
17855      1    0           0
17854      3    0           0
17853      3    0           0
17852      5    0           0
...      ...  ...         ...
154249     5    0           0
154248    13    0           0
154247    14    0           0
154261     1    0           0
177240     1    0           0

[177241 rows x 3 columns]